<div class="container mb-8 mt-2">
  <div class="mb-16 mx-auto">
    <div class="header-container shadow-lg">
      @if (userRole == 'seller') {
      <div class="d-flex justify-center align-center flex-column p-4">
        <img
          src="{{ shopLogoUrl }}"
          alt="Profile"
          class="rounded-full border-2 border-blue-500 object-contain"
        />
        <h3 class="mt-2 text-gray-800 text-lg font-semibold">{{ shopName }}</h3>
      </div>
      }

      <div class="nav-tabs-custom mt-6 w-full">
        <ul
          class="nav nav-tabs flex flex-nowrap sm:flex-row sm:py-0 py-2 justify-start sm:justify-center items-end overflow-x-visible overflow-y-hidden"
        >
          <!-- Onglet disponible pour les deux rôles -->
          <li class="nav-item">
            <a
              class="nav-link text-base sm:text-lg px-4 py-2 whitespace-nowrap"
              routerLink="profile"
              routerLinkActive="active"
              >Mon profil</a
            >
          </li>

          <!-- Onglets supplémentaires disponibles uniquement pour le rôle "seller" -->
          <li *ngIf="userRole !== 'customer'" class="nav-item">
            <a
              class="nav-link active text-base sm:text-lg px-4 py-2 whitespace-nowrap"
              routerLink="dashboard"
              routerLinkActive="active"
              >Dashboard</a
            >
          </li>
          <li *ngIf="userRole !== 'customer'" class="nav-item">
            <a
              class="nav-link text-base sm:text-lg px-4 py-2 whitespace-nowrap"
              routerLink="products"
              routerLinkActive="active"
              >Mes produits</a
            >
          </li>
          <li *ngIf="userRole !== 'customer'" class="nav-item">
            <a
              class="nav-link text-base sm:text-lg px-4 py-2 whitespace-nowrap"
              routerLink="orders"
              routerLinkActive="active"
              >Mes commandes</a
            >
          </li>
          <li *ngIf="userRole !== 'customer'" class="nav-item">
            <a
              class="nav-link text-base sm:text-lg px-4 py-2 whitespace-nowrap"
              routerLink="purchases"
              routerLinkActive="active"
              >Mes achats</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
