<div class="mx-auto mt-6">
  <div class="flex justify-between items-center mb-6">
    <h3 class="text-xl sm:text-2xl text-gray-800 font-semibold">
      Mes produits
    </h3>

    <div class="flex items-center space-x-4">
      <label for="filter-status" class="text-gray-700"
        >Filtrer par Statut :</label
      >
      <select
        id="filter-status"
        class="border border-gray-300 rounded-md text-gray-700 py-1 px-2"
      >
        <option value="all">Tous</option>
        <option value="active">Actif</option>
        <option value="inactive">Inactif</option>
      </select>
      <button
        class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-4 rounded-md"
      >
        Filtrer
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div
      class="bg-white border border-gray-300 rounded-lg shadow-md overflow-hidden"
    >
      <div class="relative w-full h-0 pb-[56.25%]">
        <img
          src="assets/images/product-details/01.jpg"
          alt="Produit 1"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div class="p-4">
        <h5 class="text-sm font-semibold mb-2 text-gray-800 truncate">
          Lumières Leds Colorées Et Pulsantes
        </h5>
        <div class="flex justify-between space-x-2">
          <a
            href="#"
            class="bg-green-100 text-green-700 hover:bg-green-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Modifier
          </a>
          <a
            href="#"
            class="bg-red-100 text-red-700 hover:bg-red-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Supprimer
          </a>
        </div>
      </div>
    </div>

    <div
      class="bg-white border border-gray-300 rounded-lg shadow-md overflow-hidden"
    >
      <div class="relative w-full h-0 pb-[56.25%]">
        <img
          src="assets/images/product-details/02.jpg"
          alt="Produit 2"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div class="p-4">
        <h5 class="text-sm font-semibold mb-2 text-gray-800 truncate">
          Produit 2
        </h5>
        <div class="flex justify-between space-x-2">
          <a
            href="#"
            class="bg-green-100 text-green-700 hover:bg-green-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Modifier
          </a>
          <a
            href="#"
            class="bg-red-100 text-red-700 hover:bg-red-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Supprimer
          </a>
        </div>
      </div>
    </div>

    <div
      class="bg-white border border-gray-300 rounded-lg shadow-md overflow-hidden"
    >
      <div class="relative w-full h-0 pb-[56.25%]">
        <img
          src="assets/images/product-details/03.jpg"
          alt="Produit 3"
          class="absolute inset-0 w-full h-full object-cover"
        />
      </div>
      <div class="p-4">
        <h5 class="text-sm font-semibold mb-2 text-gray-800 truncate">
          Produit 3
        </h5>
        <div class="flex justify-between space-x-2">
          <a
            href="#"
            class="bg-green-100 text-green-700 hover:bg-green-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Modifier
          </a>
          <a
            href="#"
            class="bg-red-100 text-red-700 hover:bg-red-200 py-2 px-4 rounded-md w-full text-center transition"
          >
            Supprimer
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
