<div class="error-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="error-content">
          <h1>{{ "NOT_FOUND.CODE" | translate }}</h1>
          <h2>{{ "NOT_FOUND.TITLE" | translate }}</h2>
          <p>
            {{ "NOT_FOUND.MESSAGE" | translate }}
          </p>
          <div class="button">
            <a routerLink="/" class="btn">{{
              "NOT_FOUND.BACK_HOME" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
