<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <div *ngFor="let stepNumber of [1, 2, 3, 4]" class="relative">
      <div
        [ngClass]="{
          'bg-blue-500 text-white': step >= stepNumber,
          'bg-gray-300 text-gray-600': step < stepNumber
        }"
        class="w-12 h-12 rounded-full flex items-center justify-center"
      >
        {{ stepNumber }}
      </div>
      <div
        *ngIf="stepNumber !== 4"
        class="absolute top-1/2 left-full transform -translate-y-1/2 w-full h-1"
        [ngClass]="{
          'bg-blue-500': step >= stepNumber + 1,
          'bg-gray-300': step < stepNumber + 1
        }"
      ></div>
    </div>
  </div>

  <div *ngIf="step === 1" class="space-y-4">
    <h2 class="text-2xl font-semibold mb-4">
      Étape 1: Informations sur le produit
    </h2>
    <form [formGroup]="productForm" (ngSubmit)="handleNext()">
      <div>
        <label class="block text-sm font-medium mb-2" for="name"
          >Nom du produit</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full border border-gray-300 rounded-lg p-2"
        />
      </div>
      <div class="mt-4">
        <label class="block text-sm font-medium mb-2" for="category"
          >Catégorie</label
        >
        <select
          id="category"
          formControlName="category"
          class="w-full border border-gray-300 rounded-lg p-2"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
    </form>
  </div>

  <section class="mx-auto" *ngIf="step === 2">
    <h2 class="text-2xl font-semibold mb-4">Étape 2: Détails du produit</h2>

    <div class="form-group mb-2">
      <label for="price">Prix *</label>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          id="price"
          formControlName="price"
          [ngClass]="{
            'is-invalid':
              productForm.controls['price'].errors &&
              (productForm.controls['price'].touched ||
                productForm.controls['price'].dirty)
          }"
        />
        <span class="input-group-text">XAF</span>
      </div>
    </div>

    <div class="block text-sm font-medium mb-2">
      <label for="stockQuantity">Quantité en stock *</label>
      <input
        type="number"
        class="w-full border border-gray-300 rounded-lg p-2"
        id="stockQuantity"
        formControlName="stockQuantity"
        [ngClass]="{
          'is-invalid':
            productForm.controls['stockQuantity'].errors &&
            (productForm.controls['stockQuantity'].touched ||
              productForm.controls['stockQuantity'].dirty)
        }"
      />
    </div>
  </section>

  <section class="step_three mx-auto" *ngIf="step === 3">
    <h2 class="text-2xl font-semibold mb-4">Étape 3: Description</h2>
    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="w-full border border-gray-300 rounded-lg p-2"
          rows="4"
          id="description"
          formControlName="description"
          [ngClass]="{
            'is-invalid':
              productForm.controls['description'].errors &&
              (productForm.controls['description'].touched ||
                productForm.controls['description'].dirty)
          }"
        ></textarea>
      </div>
    </form>
  </section>

  <section class="step_four mx-auto" *ngIf="step === 4">
    <h2 class="text-2xl font-semibold mb-4">Étape 4: Upload d'images</h2>
    <div class="form-group">
      <label>Ajouter des images (min 2, max 5)</label>
      <div class="container-image__upload">
        <div class="grid grid-cols-2 sm:grid-cols-2 gap-4">
          <div
            class="upload-image"
            [class.upload-max-reached]="uploadedImages.length >= 5"
            (click)="uploadInput.click()"
          >
            <input
              class="upload-input visually-hidden"
              type="file"
              #uploadInput
              accept="image/png, image/jpeg, image/jpg"
              (change)="uploadImage($event)"
            />
            <div class="upload-icon">
              <i class="bi bi-hand-index"></i>
            </div>
          </div>
          <div class="uploaded-image" *ngFor="let image of uploadedImages">
            <img
              [src]="image.url"
              alt="Image téléchargée"
              class="w-full h-auto"
            />
            <div class="image-number">
              {{ image.number }}
            </div>
            <div class="delete-icon" (click)="deleteImage(image)">
              <i class="bi bi-x-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="flex justify-between items-center mt-8">
    <button
      *ngIf="step > 1"
      (click)="handlePrevious()"
      class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300"
    >
      Précédent
    </button>
    <button
      *ngIf="step < 4"
      (click)="handleNext()"
      class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
    >
      Suivant
    </button>
    <button
      *ngIf="step === 4"
      (click)="handleSubmit()"
      class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600"
    >
      Soumettre
    </button>
  </div>

  <div *ngIf="isLoading" class="mt-8 flex justify-center">
    <div
      class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12"
    ></div>
  </div>
</div>
