<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <div *ngFor="let stepNumber of [1, 2, 3, 4]" class="relative">
      <div
        [ngClass]="{
          'bg-blue-500 text-white': step >= stepNumber,
          'bg-gray-300 text-gray-600': step < stepNumber
        }"
        class="w-12 h-12 rounded-full flex items-center justify-center"
      >
        {{ stepNumber }}
      </div>
      <div
        *ngIf="stepNumber !== 4"
        class="absolute top-1/2 left-full transform -translate-y-1/2 w-full h-1"
        [ngClass]="{
          'bg-blue-500': step >= stepNumber + 1,
          'bg-gray-300': step < stepNumber + 1
        }"
      ></div>
    </div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="handleNext()">
    <section *ngIf="step === 1" class="space-y-4">
      <h2 class="text-2xl font-semibold mb-4">
        Étape 1: Informations sur le produit
      </h2>

      <div>
        <label class="block text-sm font-medium mb-2" for="name"
          >Nom du produit</label
        >
        <input
          type="text"
          id="name"
          formControlName="name"
          class="w-full border border-gray-300 rounded-lg p-2"
        />
      </div>
      <div class="mt-2">
        <label class="block text-sm font-medium mb-2" for="brand">Marque</label>
        <input
          type="text"
          id="brand"
          formControlName="brand"
          class="w-full border border-gray-300 rounded-lg p-2"
        />
      </div>
      <div class="mt-2">
        <label class="block text-sm font-medium mb-2" for="category"
          >Catégorie</label
        >
        <select
          id="category"
          formControlName="category"
          class="w-full border border-gray-300 rounded-lg p-2"
        >
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
      </div>
    </section>

    <section class="mx-auto" *ngIf="step === 2">
      <h2 class="text-2xl font-semibold mb-4">Étape 2: Détails du produit</h2>

      <div class="form-group mb-2">
        <label for="price">Prix *</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            [ngClass]="{
              'is-invalid':
                productForm.controls['price'].errors &&
                (productForm.controls['price'].touched ||
                  productForm.controls['price'].dirty)
            }"
          />
          <span class="input-group-text">XAF</span>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="min_installment_price">Prix Minimum par Versement</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="min_installment_price"
            formControlName="min_installment_price"
            [ngClass]="{
              'is-invalid':
                productForm.controls['min_installment_price'].errors &&
                (productForm.controls['min_installment_price'].touched ||
                  productForm.controls['min_installment_price'].dirty)
            }"
          />
          <span class="input-group-text">XAF</span>
        </div>
      </div>

      <div class="block text-sm font-medium mb-2">
        <label for="stock_quantity">Quantité en stock *</label>
        <input
          type="number"
          class="w-full border border-gray-300 rounded-lg p-2"
          id="stock_quantity"
          formControlName="stock_quantity"
          [ngClass]="{
            'is-invalid':
              productForm.controls['stock_quantity'].errors &&
              (productForm.controls['stock_quantity'].touched ||
                productForm.controls['stock_quantity'].dirty)
          }"
        />
      </div>
    </section>

    <section class="step_three mx-auto" *ngIf="step === 3">
      <h2 class="text-2xl font-semibold mb-4">Étape 3: Description</h2>
      <form [formGroup]="productForm">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            class="w-full border border-gray-300 rounded-lg p-2"
            rows="4"
            id="description"
            formControlName="description"
            [ngClass]="{
              'is-invalid':
                productForm.controls['description'].errors &&
                (productForm.controls['description'].touched ||
                  productForm.controls['description'].dirty)
            }"
          ></textarea>
        </div>
      </form>
    </section>

    <section class="step_four mx-auto" *ngIf="step === 4">
      <h2 class="text-2xl font-semibold mb-4">Étape 4: Upload d'images</h2>
      <div class="form-group">
        <label>Ajouter des images (min 2, max 5)</label>
        <div class="container-image__upload">
          <div class="grid grid-cols-2 sm:grid-cols-2 gap-4">
            <div
              class="upload-image"
              [class.upload-max-reached]="uploadedImages.length >= 5"
              (click)="uploadInput.click()"
            >
              <input
                class="upload-input visually-hidden"
                type="file"
                #uploadInput
                accept="image/png, image/jpeg, image/jpg"
                (change)="uploadImage($event)"
              />
              <div class="upload-icon">
                <i class="bi bi-hand-index"></i>
              </div>
            </div>
            <div class="uploaded-image" *ngFor="let image of uploadedImages">
              <img
                [src]="image.url"
                alt="Image téléchargée"
                class="object-contain"
              />

              <div class="delete-icon" (click)="deleteImage(image)">
                <i class="bi bi-x-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <div class="flex justify-between items-center mt-8">
    <button
      *ngIf="step > 1"
      (click)="handlePrevious()"
      class="bg-gray-200 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-300"
    >
      Précédent
    </button>
    <button
      *ngIf="step < 4"
      (click)="handleNext()"
      class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
    >
      Suivant
    </button>
    <button
      *ngIf="step === 4"
      [disabled]="isLoading"
      (click)="handleSubmit()"
      class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 cursor-pointer"
    >
      @if (isLoading) {
      <span>
        <svg
          class="d-flex w-4 h-4 animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </span>
      }
      <span>Soumettre</span>
    </button>
  </div>
</div>
