<div class="breadcrumbs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="breadcrumbs-content">
          <h1 class="page-title">Single Product</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <ul class="breadcrumb-nav">
          <li>
            <a href="index.html"><i class="lni lni-home"></i> Home</a>
          </li>
          <li>Single Product</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="item-details section">
  <div class="container">
    <div class="top-area">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="product-images">
            <main id="gallery">
              <div class="main-img" *ngIf="product?.images?.length">
                <img
                  [src]="selectedImageUrl"
                  id="current"
                  alt="Product Image"
                  style="height: 30rem"
                />
              </div>
              <div class="images">
                <img
                  *ngFor="let image of product?.images"
                  [src]="image.thumbnail_url || image.image_url"
                  class="img"
                  alt="Product Thumbnail"
                  (click)="onThumbnailClick(image.image_url)"
                  [ngStyle]="{
                    opacity: selectedImageUrl === image.image_url ? '0.6' : '1'
                  }"
                  style="height: 7rem; object-fit: cover; cursor: pointer"
                />
              </div>
            </main>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
          <div class="product-info">
            <h2 class="title">{{ product?.name }}</h2>

            <p class="category">
              <i class="lni lni-tag"></i> {{ product?.category }} :
              <a href="javascript:void(0)">{{ product?.subcategory }}</a>
            </p>

            <h3 class="price">
              {{ product?.price | currency : product?.currency }}
            </h3>

            <p class="info-text">{{ product?.description }}</p>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group quantity">
                  <label for="quantity">Quantity</label>
                  <select class="form-control" id="quantity">
                    <option *ngFor="let qty of [1, 2, 3, 4, 5]">
                      {{ qty }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-group">
                  <label></label>
                  <div class="button cart-button mt-2">
                    <button class="btn" style="width: 100%">Purchase</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bouton Voir la Boutique -->
            <div class="shop-button my-4">
              <button
                class="btn btn-primary"
                style="display: flex; align-items: center"
                (click)="navigateToShop()"
              >
                <i class="fas fa-store" style="margin-right: 0.5rem"></i> Voir
                la Boutique
              </button>
            </div>

            <!-- Boutons de partage -->
            <div class="share-section my-4">
              <h6 class="font-bold text-xl mb-2">Partager :</h6>
              <div class="flex items-center justify-start space-x-4">
                <a
                  [href]="generateShareUrl('facebook')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-600"
                >
                  <i class="fab fa-facebook-square" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('linkedin')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500"
                >
                  <i class="fab fa-linkedin" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('twitter')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600"
                >
                  <i class="fab fa-x-twitter" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('whatsapp')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-green-500"
                >
                  <i class="fab fa-whatsapp" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('default')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600"
                >
                  <i class="fas fa-share" style="font-size: 2rem"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-details-info">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="single-block give-review">
            <!-- Button trigger modal -->
            <button (click)="review()" type="button" class="btn review-btn">
              Leave a Review
            </button>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="single-block">
            <div class="reviews">
              <h4 class="title">Latest Reviews</h4>
              <!-- Check if there are reviews -->
              <ng-container
                *ngIf="
                  productReviews && productReviews.length > 0;
                  else noReviews
                "
              >
                <!-- Loop through each review -->
                <div
                  class="single-review"
                  *ngFor="let review of productReviews"
                >
                  <!-- User Profile Image -->
                  <img
                    [src]="
                      review.user?.profile_url ||
                      'assets/images/default-profile.png'
                    "
                    alt="Reviewer Profile"
                    class="reviewer-image"
                  />
                  <div class="review-info">
                    <h4>
                      {{ review.user?.name || "Anonymous" }}
                    </h4>
                    <ul class="stars">
                      <li *ngFor="let star of [].constructor(5); let i = index">
                        <i
                          class="lni"
                          [ngClass]="{
                            'lni-star-filled': i < review.rating,
                            'lni-star': i >= review.rating
                          }"
                        ></i>
                      </li>
                    </ul>
                    <p>
                      {{ review.review }}
                    </p>
                    <p class="text-end text-xs">
                      {{ review.created_at | date : "medium" }}
                    </p>
                  </div>
                </div>
              </ng-container>

              <!-- Template to handle empty state -->
              <ng-template #noReviews>
                <p class="text-muted">
                  No reviews available for this product yet.
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
