<div class="container py-4">
  <div
    class="relative rounded-xl overflow-hidden"
    [style.backgroundImage]="'url(' + shop.cover_photo_url + ')'"
    style="height: 350px; background-size: cover; background-position: center"
  >
    <div
      class="absolute inset-0 bg-gradient-to-r from-black/50 to-black/10"
    ></div>

    <div class="absolute bottom-0 left-0 p-4">
      <h1 class="text-white text-4xl font-bold">{{ shop.name }}</h1>
    </div>
  </div>

  <div class="mt-4 p-6 bg-white shadow rounded-xl">
    <div class="flex flex-col md:flex-row gap-6">
      <div class="w-32 h-32">
        <img
          [src]="shop.logo_url || 'https://via.placeholder.com/150'"
          alt="{{ shop.name }}"
          class="rounded-full border-1 border-blue-200 shadow"
        />
      </div>

      <div class="flex-1">
        <h2 class="text-2xl font-semibold">{{ shop.name }}</h2>
        <p class="text-gray-600">
          {{ shop.description || "No description available." }}
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-4 col-md-12">
      <div class="card shadow-lg rounded-lg">
        <div class="card-header bg-slate-200">
          <h5 class="card-title text-xl font-bold flex items-center mb-2">
            <i
              class="fa fa-id-card mr-3"
              style="color: #0167f3; font-size: 1.5rem"
            ></i>
            Informations du Vendeur
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-unstyled space-y-8">
            <li class="flex items-center border-b pb-2 py-4">
              <i
                class="fa fa-map-marker mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Adresse :</span>
                {{ shop.location || "Not specified" }}
              </div>
            </li>
            <li class="flex items-center border-b pb-2">
              <i
                class="fa fa-envelope mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Email :</span>
                <a href="mailto:nyambi675@gmail.com" class="text-blue-500">
                  nyambi675gmail.com
                </a>
              </div>
            </li>
            <li class="flex items-center border-b pb-2">
              <i
                class="fa fa-phone mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Téléphone :</span>
                <a href="tel:+237694998250" class="text-blue-500">
                  {{ shop.contact_number || "Not specified" }}
                </a>
              </div>
            </li>
            <li class="flex items-center border-b pb-2">
              <i
                class="fa fa-globe mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Site Web :</span>
                <a
                  href="https://exemple.com"
                  target="_blank"
                  class="text-blue-500"
                >
                  {{ shop.website_url || "Not specified" }}
                </a>
              </div>
            </li>
            <li class="flex items-center border-b pb-2">
              <i
                class="fa fa-star mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Évaluation :</span>
                <span>{{ shop.rating || "0" }}</span>
              </div>
            </li>
            <li class="flex items-center border-b pb-2">
              <i
                class="fa fa-eye mr-3"
                style="color: #0167f3; font-size: 1.2rem"
              ></i>
              <div class="flex-grow">
                <span class="font-bold">Nombre de visites : </span>
                <span>{{ shop.visit_count || "Not specified" }}</span>
              </div>
            </li>
            <li>
              <div class="flex items-center justify-start space-x-4">
                <h6 class="font-bold text-xl">Partager :</h6>
                <a
                  [href]="generateShareUrl('facebook')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-600"
                >
                  <i class="fab fa-facebook-square" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('linkedin')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500"
                >
                  <i class="fab fa-linkedin" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('twitter')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600"
                >
                  <i class="fab fa-x-twitter" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('whatsapp')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-green-500"
                >
                  <i class="fab fa-whatsapp" style="font-size: 2rem"></i>
                </a>
                <a
                  [href]="generateShareUrl('default')"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-gray-600"
                >
                  <i class="fas fa-share" style="font-size: 2rem"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 mt-4 mt-lg-0">
      <div class="card shadow-lg rounded-lg">
        <div class="card-header bg-slate-200">
          <h5 class="card-title text-xl font-bold flex items-center mb-2">
            <i
              class="fa fa-shopping-bag mr-3"
              style="color: #0167f3; font-size: 1.5rem"
            ></i>
            Produits proposés
          </h5>
        </div>
        <div class="card-body">
          <!-- Loading Indicator -->
          <div *ngIf="isLoadingProducts" class="text-center py-5">
            <div class="loader"></div>
            <p>Chargement des produits...</p>
          </div>

          <!-- Products Grid -->
          <div
            *ngIf="!isLoadingProducts && products.length > 0"
            class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
          >
            <div
              *ngFor="let product of products"
              class="border p-2 rounded-lg shadow-sm flex flex-col justify-between"
            >
              <!-- Product Image -->
              <div class="product-image">
                <img
                  [src]="
                    product.images[0]?.image_url ||
                    'assets/images/default-product.jpg'
                  "
                  alt="{{ product.name }}"
                  class="mb-3 w-full h-32 object-cover rounded"
                />
              </div>

              <!-- Product Info -->
              <div class="product-info">
                <h6 class="font-bold text-sm truncate pb-2">
                  {{ product.name }}
                </h6>
                <p
                  class="text-gray-600 text-xs overflow-hidden"
                  [class.line-clamp-4]="true"
                >
                  {{ product.description }}
                </p>
                <div class="flex justify-between items-center mt-4">
                  <span class="text-primary font-semibold"
                    >{{ product.price }} {{ product.currency }}</span
                  >
                  <a
                    [routerLink]="['/product', product.id]"
                    class="text-blue-500 text-sm hover:underline"
                  >
                    Details
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- No Products Message -->
          <div
            *ngIf="!isLoadingProducts && products.length === 0"
            class="text-center py-5"
          >
            <p>Aucun produit trouvé.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-details-info">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="single-block give-review">
          <button (click)="review()" type="button" class="btn btn-primary">
            Leave a Review
          </button>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="single-block">
          <div class="reviews">
            <h4 class="title">Latest Reviews</h4>
            <!-- Check if there are reviews -->
            <ng-container
              *ngIf="shopReviews && shopReviews.length > 0; else noReviews"
            >
              <!-- Loop through each review -->
              <div class="single-review" *ngFor="let review of shopReviews">
                <!-- User Profile Image -->
                <img
                  [src]="
                    review.user?.profile_url ||
                    'assets/images/default-profile.png'
                  "
                  alt="Reviewer Profile"
                  class="reviewer-image"
                />
                <div class="review-info">
                  <h4>
                    {{ review.user?.name || "Anonymous" }}
                  </h4>
                  <ul class="stars">
                    <!-- Boucle pour afficher les étoiles en fonction de la note -->
                    <li *ngFor="let star of [].constructor(5); let i = index">
                      <i
                        class="lni"
                        [ngClass]="{
                          'lni-star-filled': i < review.rating,
                          'lni-star': i >= review.rating
                        }"
                      ></i>
                    </li>
                  </ul>
                  <p>
                    {{ review.review }}
                  </p>
                  <p class="text-end text-xs">
                    {{ review.created_at | date : "medium" }}
                  </p>
                </div>
              </div>
            </ng-container>

            <!-- Template to handle empty state -->
            <ng-template #noReviews>
              <p class="text-muted">No reviews available for this shop yet.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
